openapi: 3.0.0
info:
  title: Pagen API
  version: 1.0.0
  description: API Documentation for Pagen webpage generation services, using beautiful shadcn/ui components.

servers:
  - url: https://pages.tisvc.com
    description: Production server
  - url: http://localhost:1578
    description: Local development server

tags:
  - name: Generation
    description: Endpoints for generating webpages

paths:
  /api/generate:
    post:
      summary: Generate Webpage
      description: Generate a webpage from a text prompt and return a screenshot
      tags:
        - Generation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - prompt
              properties:
                prompt:
                  type: string
                  description: The text prompt describing the webpage you want to generate
                  example: 'a beautiful login page with gradient background'
                model:
                  type: string
                  description: The model to use for generation, defaults to gpt-4o, other options are deepseek-v3
                  example: 'gpt-4o'
      responses:
        200:
          description: Successfully generated project and pages
          content:
            application/json:
              schema:
                type: object
                properties:
                  project:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Unique ID of the generated project
                      title:
                        type: string
                        description: Title of the project
                      description:
                        type: string
                        description: Project description
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                      pageTree:
                        type: array
                        items:
                          $ref: '#/components/schemas/PageTreeNode'
                      userId:
                        type: string
                      chat:
                        type: object
                        properties:
                          projectId:
                            type: string
                          messages:
                            type: array
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Missing required field: prompt'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Failed to generate page'

components:
  schemas:
    PageTreeNode:
      type: object
      properties:
        id:
          type: string
          description: Unique ID of the page node
        path:
          type: string
          description: File path of the page
        file:
          type: object
          properties:
            id:
              type: string
              description: Unique ID of the file
            name:
              type: string
              description: Name of the file
            content:
              type: string
              description: File content (TSX code)
            metadata:
              type: object
              properties:
                title:
                  type: string
                  description: Title of the page
        screenshot:
          type: string
          description: URL of the page screenshot
          nullable: true
