openapi: 3.0.0
info:
  title: Pagen API
  version: 1.0.0
  description: API Documentation for Pagen webpage generation services, using beautiful shadcn/ui components.

servers:
  - url: https://pages.tisvc.com
    description: Production server
  - url: http://localhost:1578
    description: Local development server

tags:
  - name: Generation
    description: Endpoints for generating webpages

paths:
  /api/generate:
    post:
      summary: Generate Webpage
      description: Generate a webpage from a text prompt and return a screenshot
      tags:
        - Generation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - prompt
              properties:
                prompt:
                  type: string
                  description: The text prompt describing the webpage you want to generate
                  example: 'a beautiful login page with gradient background'
      responses:
        200:
          description: Successfully generated webpage screenshot
          content:
            image/png:
              schema:
                type: string
                format: binary
                description: PNG image of the generated webpage
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Missing required field: prompt'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Failed to generate page'
